<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width = device-width, initial-scale = 1.0">
        <meta http-equiv="X-UA-Compatible" content = "ie=edge">
        <title> Keat </title>
    </head>
    <style>
.clear{clear:both;}
*{padding: 0; margin: 0;}
li{list-style: none;}
a{text-decoration: none; color: #000;}
img{display: inline-block;}

header{position: fixed; top: 0; margin: 0 auto; width: 100%; height: 100px; line-height: 100px; z-index: 1; text-align: center;}
header:hover{height: 440px; background: #fff; transition: all 0.5s;}
header:hover h3{background: url(logo_black.png) no-repeat;}
header:hover .menu span{background: #000;}
header:hover ul li a{color: #000;}
header>div:hover:after{content: ""; position:absolute; top: 90px; left: 0; width: 100%; height: 2px; background: #000;}
header>div{position: relative;}
header h3{background: url(logo.png) no-repeat; position: absolute; top: 25px; left: 50px; width: 150px; height: 50px; color: transparent;}
header h3:hover{background: url(logo_black.png) no-repeat;}
header .menu{float: right; position: absolute; top: 50px;; right: 50px; transform: translate(-50%,-50%); width: 38px; line-height: 14px;}
header .menu span{display: inline-block; width: 38px; height: 4.5px; background: #fff;}
header>div>ul{display: inline-block; margin: 0 auto;}
header>div>ul>li{float: left; margin-left: 10px; width: 120px; height: 60px; text-align: left;}
header>div>ul>li:nth-child(2){margin-right: 40px;}
header>div>ul>li>a{display: inline-block; font-size: 18px; color: #fff; font-weight: normal; box-sizing:border-box;}
header>div>ul>li ul{overflow: hidden; display: none; margin-top: 10px; text-align: left;}
header>div>ul>li ul li{line-height: 35px; width: 150px;}
header>div>ul>li ul li a{color: #000; font-size: 14px;}
header:hover div>ul>li ul{display: inline-block;}
/*헤더부분*/
main{width: 100%; height: 344px; background: url(sub_top6.png) no-repeat;}
main h2{text-align: center; line-height: 344px; color: #fff; font-size: 45px;}

.bread{width: 100%; height: 60px; line-height: 60px; border-bottom: 1px solid #d8d3d3; box-sizing: border-box;}
.bread>div{width: 1180px; margin: 0 auto; height: 60px;  box-sizing: border-box;}
.bread li{float: left; border-left: 1px solid #d8d3d3; box-sizing: border-box;}
.bread li:last-child {border-right: 1px solid #d8d3d3;}
.bread a{display: inline-block; width: 60px; height: 60px; background: url(home.png) no-repeat center; color: transparent;}
.bread>div select{width: 200px; height: 58px; text-indent: 50px; margin: 0 20px 0 0; font-size: 16px; border: none; box-sizing: border-box;}

section .text{width: 1180px; margin: 0 auto; padding: 70px 0 50px 0; text-align: center;}
section .text h3{margin: 0 0 30px 0; font-size: 40px; font-weight: normal;}
section .text h5{margin: 0 0 50px 0;font-size: 20px; font-weight: normal;}
section .text>div{background: #e8e8e8; height: 90px; line-height: 90px;}
section .text>div select{margin: 0 5px 0 0; width: 210px; height: 50px; text-indent: 10px; font-size: 16px; font-weight: normal; color: #898989; border: 1px solid #ddd7d7}
section .text>div a{margin: 0 0 0 5px; display: inline-block; background: #a0a0a0; width: 150px; height: 50px; line-height: 50px; color: #fff; font-weight: 600; border-radius: 2px; box-sizing: border-box;}
input[type="text"]{width: 550px; height: 50px; border: 1px solid #ddd7d7;}
/*목록*/
table{width: 1180px; margin: 0 auto; border-top: 2px solid #000; border-collapse: collapse;}
table td:nth-child(2){border-right: 1px solid #ddd7d7; padding-left: 40px;}
table td:nth-child(3){font-size: 14px;}
table th{border-right:1px solid #ddd7d7; font-weight: 200;}
table td,th{border-bottom: 1px solid #ddd7d7; padding: 15px; font-weight: 300;}
table thead th{border: none; background: #f5f5f5;}

.number{margin: 50px 0 0 0; text-align: center;}
.number li{position: relative;display: inline-block;}
.number li a{font-size: 17px; margin: 0 10px;}
.number li:hover a{color: #0303c3; font-weight: 600;}
.number li:hover:after{content: ""; position: absolute; bottom: -3px; left: 50%; transform: translateX(-50%); width: 21px; height: 2px; background: #0303c3;}
.number li:first-child:hover:after{display: none;}
.number li:last-child:hover:after{display: none;}
.number li:first-child a{margin: 0; padding: 7px 2px; border: 1px solid  #e3e3e3; color: transparent; background: url(page_prev.png) no-repeat center; box-sizing: border-box;}
.number li:last-child a{margin: 0; padding: 7px 2px; border: 1px solid  #e3e3e3; color: transparent; background: url(page_next.png) no-repeat center;}
/*푸터부분*/
.btm_1{position: relative; border-top: 1px solid #999; border-bottom: 1px solid #989090; width: 100%; height: 55px; line-height: 55px;}
.btm_1>div{width: 1180px; margin: 0 auto;}
.btm_1>div>a{position: relative; display: inline-block; float: left; padding: 0 260px 0 20px; font-size: 17px; font-weight: normal;  border-left: 1px solid #989090; border-right: 1px solid #989090; box-sizing: border-box;}
.btm_1>div>a:before{content: ""; position: absolute; top: 50%; right: 0; transform: translateY(-70%); padding: 0 50px 0 0; width: 20px; height: 20px; background: url(11.png) no-repeat; box-sizing: border-box;}
.btm_1 ul{ position: absolute; right: 160px; padding: 7px 0 0 0;}
.btm_1 ul>li{display: inline-block; margin: 0 0 0 3px;}
.btm_2{text-align: center;}
.btm_2>div{display: inline-block; width: 1180px; height: 60px; line-height: 60px;}
.btm_2>div>a{position: relative; display: inline-block; float: left; float: left; padding: 0 0 0 45px; font-weight: 800;}
.btm_2>div>a:before{content: ""; position: absolute; left: 0; top: 50%; transform: translateY(-50%); width: 40px; height: 30px; background: url(sns4.png) no-repeat;}
.btm_2>div>ul{float: right; margin: 8px 0 0 0;}
.btm_2>div>ul>li{display: inline-block; margin: 0 0 0 6px;}

footer{margin: 300px 0 0 0;}
footer .ft{background: #f4f4f4; display: inline-block; height: 200px; padding: 40px 0 0 0; width: 100%; text-align: center;}
footer .ft>div{display: inline-block; width: 1180px; text-align: left;}
footer .ft>div h5{position: relative; font-weight: normal; line-height: 24px; font-size: 15px; color: #989090;}
footer .ft>div h5 a{position: relative; position: absolute; top:0; right: 0; color: #989090;}
footer .ft>div h5>a:first-child{ margin: 0 70px 0 0;}
footer .ft>div h5>a:first-child:after{content: ""; position: absolute; top: 3px; right: -15px; width: 1px; height: 11px; background: #989090}
    </style>
    <body>
        
    </body>
</html>